@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Inter:wght@400;700&family=Sniglet:wght@400;800&display=swap');
@import "tailwindcss";

/* Force definitions */
:root {
  --font-lilita: 'Lilita One', sans-serif;
}

@theme {
  --font-lilita: var(--font-lilita);
  --font-sniglet: "Sniglet", system-ui;
  --font-inter: "Inter", sans-serif;
}

/* Ye custom class 100% kaam karegi */
.font-lilita {
  font-family: 'Lilita One', sans-serif !important;
}

.sniglet-regular { font-family: "Sniglet", system-ui; font-weight: 400; }
.sniglet-extrabold { font-family: "Sniglet", system-ui; font-weight: 800; }